<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223178606994-rjm9ar9u9f91irqe25sbe4do859ac0gh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223178606994-rjm9ar9u9f91irqe25sbe4do859ac0gh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>223178606994-509vs3sp7kdi9cpb4gv5oa46tp4s4vkt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdb6Pb9YlBlbn-WvtUIk9WD9k4-Y8MhPI</string>
	<key>GCM_SENDER_ID</key>
	<string>223178606994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medcsDashboard.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>easymeds-database</string>
	<key>STORAGE_BUCKET</key>
	<string>easymeds-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223178606994:ios:959bb272d049d1a91a594b</string>
</dict>
</plist>